body{
    padding: 0;
    margin: 0;
    /* font-size: 0.16rem; */
    /* line-height: 0.16rem; */
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
html{
    font-size: 13.33333vw;
}
.top{
    width: 7.04rem;
    height: 0.36rem;
    /* border: 1px solid red; */
    margin: 0.3rem auto 0;
    display: flex;
    /* font-size: 0.14rem; */
    justify-content: space-between;
    transition: height .5s ease;
    overflow: hidden;
}
.close-box{
    width: 0.36rem;
    height: 0.36rem;
    position: relative;
}
.close-one{
    width: 0.45rem;
    height: 0.03rem;
    position: absolute;
    top: 50%;
    left: 0;
    background: #000;
    transform: rotate(45deg);
    transition: transform 1s ease;
}
.close-two{
    width: 0.45rem;
    height: 0.03rem;
    position: absolute;
    top: 50%;
    left: 0;
    background: #000;
    transform: rotate(-45deg);
    transition: transform 1s ease;
}
.menu-box{
    width: 0.36rem;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
.menu-box div{
    width: 0.08rem;
    height: 0.08rem;
    border-radius: 50%;
    background: #000;
}

nav{
    margin: auto;
    margin-top: 0.4rem;
    width: 7.04rem;
    height: 0.4rem;
    /* border: 1px solid red; */
    overflow: hidden;
    position: relative;
}
.nav-box{
    width: 13rem;
    height: 100%;
    /* border: 1px solid red; */
    position: absolute;
    top: 0;
    left: 0;
}
.nav-box a{
    font-size: 0.24rem;
    width: 1rem;
    height: 100%;
    float: left;
    margin-right: 1rem;
    color: #333333;
    line-height: 0.4rem;
    text-decoration: none;
}
.nav-box a:last-child{
    margin-right: 0;
}
.swiper-container {
    width: 7.5rem;
    height: 3.84rem;
    margin-top: 0.26rem;
}  
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.shop-box{
    width: 100%;
    background: #f6f6f6;
    float: left;
}
.xinpinlogo{
    width: 1.48rem;
    height: 0.91rem;
    display: block;
    margin: auto;
    margin-top: 0.79rem;
}
.list-box{
    margin-top: 0.58rem;
    width: 100%;
    height: 5.11rem;
    position: relative;
    overflow: hidden;
}
.shop-list{
    width: 13.32rem;
    position: absolute;
    top: 0;
    left: 0;
}
.shop-list li{
    width: 3.09rem;
    height: 5.11rem;
    margin-left: 0.24rem;
    background: #fff;
    float: left;
}
.shop-list li img{
    width: 100%;
    height: 2.89rem;
    display: block;
}
.juxing{
    width: 0.27rem;
    height: 0.01rem;
    margin-left: 0.17rem;
    margin-top: 0.2rem;
    background: #333333;
}
.verfo-lab{
    margin-left: 0.17rem;
    margin-top: 0.09rem;
    width: 1.38rem;
    height: 0.14rem;
    font-family: "ArialNarrow";
	font-size: 0.18rem;
	line-height: 0.14rem;
	letter-spacing: 0.01rem;
	color: #000000;
}
.text-style-1{
    margin-left: 0.17rem;
    margin-top: 0.1rem;
    font-family: "MicrosoftYaHei";
	font-size: 0.24rem;
	letter-spacing: 0.01rem;
	color: #000000;
}
.price-box{
    margin-top: 0.79rem;
    width: 100%;
    height: 0.43rem;
    align-items: center;
}
.price-box img{
    width: 0.79rem !important;
    height: 0.21rem !important;
    margin-left: 0.18rem;
    float: left;
    margin-top: 0.12rem;
}
.bug-box{
    display: inline-block;
    border-radius: 0.04rem;
    float: left;
    width: 1.52rem;
    height: 100%;
    margin-left: 0.37rem;
    background: #ffcb3f;
}
.bug-box .tianjia{
    width: 0.17rem !important;
    height: 0.17rem !important;
    margin-left: 0.16rem;
    margin-top: 0.14rem;
}
.bug-box .buy-btn{
    width: 0.89rem;
    height: 0.22rem;
    margin-left: 0.13rem;
    margin-top: 0.11rem;
}
/* 热销 */
.rexiaologo{
    width: 1.48rem;
    height: 0.91rem;
    display: block;
    margin: auto;
    margin-top: 0.79rem;
}
.rexiaochanpin{
    width: 6.99rem;
    height: 6.93rem;
    background: #fff;
    margin: 0 auto;
    margin-top: 0.75rem;
    position: relative;
}
.rexiaochanpin .rexiaobig{
    width: 6.25rem;
    height: 2.62rem;
    position: absolute;
    left: 0.37rem;
    top: 1.11rem;
    opacity: 1;
    transition: opacity 1s ease;
}
.rexiaotitle{
    position: absolute;
    top: 4.32rem;
    left: 0.6rem;
    font-family: "MicrosoftYaHei-Bold";
    width: 2.68rem;
    height: 0.31rem;
    font-size: 0.31rem;
    letter-spacing: 0.01rem;
    line-height: 0.31rem;
}
.rexiaojieshao{
    position: absolute;
    top: 4.77rem;
    left: 0.6rem;
    font-size: 0.2rem;
    letter-spacing: 0.01rem;
    width: 4.6rem;
    height: 0.21rem;
    line-height: 0.2rem;
}
.rexiaopice{
    position: absolute;
    top: 5.95rem;
    left: 0.63rem;
    width: 1.15rem;
    height: 0.49rem;
}
.colorbtns{
    position: absolute;
    right: 0.78rem;
    bottom: 1.11rem;
    width: 0.21rem;
    height: 1.11rem;
    /* background: #000; */
}
.colorbtns li{
    width: 0.16rem;
    height: 0.16rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 0.26rem;
}
.colorbtns li:nth-child(1){
    background: #abe3e6;
}
.colorbtns li:nth-child(2){
    width: 0.21rem;
    height: 0.21rem;
    background: #cecdca;
}
.colorbtns li:nth-child(3){  
    background: #ffcb3f;
}
.jiazai{
    display: block;
    margin-top: 0.38rem;
    margin-left: 1.86rem;
    width: 3.85rem;
    height: 0.19rem;
}
/* 案例展示 */
.anlilogo{
    display: block;
    width: 1.48rem;
    height: 0.91rem;
    margin: 0 auto;
    margin-top: 0.73rem;
}
.anliitem{
    margin: 0 auto;
    margin-top: 0.65rem;
    width: 7.02rem;
    height: 4.38rem;
    position: relative;
}
.anliitem img{
    width: 100%;
    height: 100%;
}
.anliitem .bofangbtn{
    width: 1.28rem;
    height: 1.31rem;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.anliitemtitle{
    width: 3.4rem;
    height: 0.26rem;
    margin-top: 0.41rem;
    margin-left: 2.06rem;
    font-size: 0.28rem;
    line-height: 0.44rem;
    color: #000000;
}
.anliitemjieshao{
    width: 6.6rem;
    height: 1.68rem;
    margin: 0 auto;
    margin-top: 0.2rem;
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #000000;
    text-align: center;
}
.lijie{
    margin: 0 auto;
    margin-top: 0.34rem;
    width: 1.4rem;
    height: 0.6rem;
    border: 0.01rem solid #fbca4a;
    border-radius: 0.3rem;
    font-size: 0.18rem;
    line-height: 0.6rem;
    color: #000000;
    text-align: center;
}
/* 品牌故事 */
.gushilogo{
    width: 2.22rem;
    height: 0.91rem;
    margin: 0 auto;
    margin-top: 0.71rem;
    display: block;
}
.gushineirong{
    width: 7.5rem;
    height: 3.34rem;
    position: relative;
    margin: 0 auto;
    margin-top: 0.57rem;
    margin-bottom: 0.98rem;
}
.gushineirong img{
    width: 100%;
    height: 100%;
}
.gushineirong .pinpaigushi{
    width: 5.22rem;
    height: 1.98rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* 底部 */
.table{
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.98rem;
    background: #fff;
    z-index: 100;
}
.table li img{
    display: block;
    width: 0.62rem;
    height: 0.79rem;
    margin: 0 0.62rem;   
    margin-top: 0.12rem;
    float: left;
}